/* add css styles here (optional) */

.scheduler-root {
  padding-bottom: 20px;
  display: inline-block;
}

.table {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.scheduler-table {
  position: relative;
  width: 100%;
  margin: 0 20px;
}
